{% extends "account/base.html" %}
{% load static %}


{% block content%}
<style>
    body {
        background-color: white;
    }
</style>

<div class="container py-2">
    <div class="container px-4 px-lg-5 my-5 ms-5">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                    style="font-weight: 600;" aria-expanded="false">
                    Все категории
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item mt-2" href="{% url 'for-kitchen' %}">Товары для кухни</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'dishes' %}">Посуда</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'tec-for-home' %}">Техника для дома</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'health-and-beauty' %}">Красота и здоровье</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'instruments' %}">Инструменты</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'other' %}">Прочее</a></li>
                </ul>
            </div>
            <div class="container-fluid">

                <div class="collapse navbar-collapse ms-4" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="delivery me-3" href="{% url 'delivery' %}"> Доставка </a>
                        <a class="payment me-3" href="{% url 'payment' %}">Оплата</a>
                        <a class="graph-work me-3" href="{% url 'graph-work' %}">График работы</a>
                        <a class="hits me-3" href="/#hits">Хиты продаж</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto ms-4">
            <a href="#">
                <div class="card" style="width: 14rem; border: 2px solid #f7f7f7;">
                    <img src="{% static 'img\tec-for-home\1pylesosy.jpg' %}" class="card-img-top mt-4" alt="..."
                        width="150" height="150">
                    <div class="card-body">
                        <h5 class="card-title text-center">Пылесосы</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-auto ms-4">
            <a href="#">
                <div class="card" style="width: 14rem; border: 2px solid #f7f7f7;">
                    <img src="{% static 'img\tec-for-home\1stiralnye-mashiny.jpg' %}" class="card-img-top mt-1"
                        alt="..." width="150" height="150">
                    <div class="card-body">
                        <h5 class="card-title text-center">Стиральные машины</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-auto ms-4">
            <a href="#">
                <div class="card" style="width: 14rem; border: 2px solid #f7f7f7;">
                    <img src="{% static 'img\tec-for-home\1utyug.jpg' %}" class="card-img-top mt-4" alt="..."
                        width="150" height="150">
                    <div class="card-body">
                        <h5 class="card-title text-center">Утюги</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-auto ms-4">
            <a href="#">
                <div class="card" style="width: 14rem; border: 2px solid #f7f7f7;">
                    <img src="{% static 'img\tec-for-home\1telefony.jpg' %}" class="card-img-top mt-4" alt="..."
                        width="150" height="150">
                    <div class="card-body">
                        <h5 class="card-title text-center">Телефоны</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="py-5"></div>

</div>




{% endblock %}