body, html
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: arial;
	font-size: 16px;
	background-color: #f7f7f7;
}

.wrapper
{
	width: 100%;
}
.search{
    width: 550px;
    margin-left: 50px;
	height: 40px;
	margin-top: 10px;
	display: flex;
}
.search-btn{
	height: 40px;
	margin-top: 10px;
}
.basket{
	margin-left: 50px;
	margin-top: 20px;
}
.basket-text{
	margin-top: -25px;
}
.entrance{
   margin-left: 20px;
   margin-top: 22px;
}
.user-text{
    margin-top: -25px;
}
.main{
	height: 100%;
}
.list-menu{
	margin-top: 40px;
}
.menu{
	margin-top: 30px;
}
.category-btn{
	width: 220px;
	font-family:sans-serif;
	font-weight: 600;
	height: 50px;
}
.carousel{
	margin-left: 610px;
	margin-top: -400px;
	width: 900px;
	height: 400px;
}
.carousel-1{
	border-radius: 25px;
}
li{
	list-style-type: none;
	display: inline;
	margin-right: 15px;
	padding: 0 4px;
}
a{
	text-decoration: none;
}

.delivery{
	font-size: 16px;
	line-height: 24px;
	color: #737171;
	font-weight: 600;
	
}
.payment{
	font-size: 16px;
	line-height: 24px;
	color: #737171;
	font-weight: 600;
}
a:hover{
	color: #198754;
}
.graph-work{
	font-size: 16px;
	line-height: 24px;
	color: #737171;
	font-weight: 600;
}
.hits{
	font-size: 16px;
	line-height: 24px;
	color: #737171;
	font-weight: 600;
}
.drop-menu-vertical{
	height: 400px;
	width: 220px;
	margin-left: 340px;
	border-radius: 5px;
}
.btn-kitchen{
	margin-top: 8px;
	margin-right: 20px;
	width: 220px;
	height: 50px;
	font-weight: 600;	
	border: 0px;
}
.dropdown-kitchen{
	width: 300px;
	height: 300px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-family: 'Courier New', Courier, monospace;
}
.dropdown-dishes{
	width: 300px;
	height: 250px;
	font-weight: 600;
	line-height: 24px;
	font-family: MuseoSansCyrl,serif;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-family: 'Courier New', Courier, monospace;
}
.dropdown-forhome{
	width: 300px;
	height: 380px;
	font-weight: 600;
	line-height: 24px;
	font-family: MuseoSansCyrl,serif;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-family: 'Courier New', Courier, monospace;
}
.dropdown-health{
	width: 300px;
	height: 250px;
	font-weight: 600;
	line-height: 24px;
	font-family: MuseoSansCyrl,serif;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-family: 'Courier New', Courier, monospace;
}
.dropdown-instruments{
	width: 300px;
	height: 300px;
	font-weight: 600;
	line-height: 24px;
	font-family: MuseoSansCyrl,serif;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-family: 'Courier New', Courier, monospace;
}
.dropdown-another{
	width: 300px;
	height: 250px;
	font-weight: 600;

	line-height: 24px;
	font-family: MuseoSansCyrl,serif;
	border-radius: 20px;
	background-color: #f7f7f7;
	font-family: 'Courier New', Courier, monospace;
}
.footer{
	margin-top: 250px;
}
.social-networks{
	border: solid 1px black;
	width: 500px;
	float: left;
	height: 100px;
	margin-top: -35px;

}
.like{
	margin-left: 120px;
	font-size: 18px;
	line-height: 24px;
	color: #737171;
	font-weight: 600;
}
.top-seller{
	display: flex;
	margin-top: 150px;
}
.list-hits{
	margin-left: 120px;
}
.card-text{
	font-size: 16px;
	line-height: 24px;
	color: #737171;
	font-weight: 600;
}
.card-title{
	font-size: 20px;
	line-height: 24px;
	color: #198754;
	font-weight: 600;
}
.like-items{
	width: 275px;
	
}

.card{
	border: none;
}