{% extends "account/base.html" %}
{% load static %}


{% block content%}
<div class="container bx-content-seection">
    <div class="row">
        <div class="container px-4 px-lg-5 my-5 ms-5">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="btn-group" style="width: 200px;">
                    <a href="{% url 'category' %}"><button type="button" class="btn btn-success"
                            style="font-weight: 600;" aria-expanded="false">Все
                            категории</button></a>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item mt-2" href="{% url 'for-kitchen' %}">Товары для кухни</a></li>
                        <li><a class="dropdown-item mt-2" href="{% url 'dishes' %}">Посуда</a></li>
                        <li><a class="dropdown-item mt-2" href="{% url 'tec-for-home' %}">Техника для дома</a></li>
                        <li><a class="dropdown-item mt-2" href="{% url 'health-and-beauty' %}">Красота и здоровье</a>
                        </li>
                        <li><a class="dropdown-item mt-2" href="{% url 'instruments' %}">Инструменты</a></li>
                        <li><a class="dropdown-item mt-2" href="{% url 'other' %}">Прочее</a></li>
                    </ul>
                </div>
                <div class="container-fluid">

                    <div class="collapse navbar-collapse ms-4" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="delivery me-3" href="{% url 'delivery' %}"> Доставка </a>
                            <a class="payment me-3" href="{% url 'payment' %}">Оплата</a>
                            <a class="graph-work me-3" href="{% url 'graph-work' %}">График работы</a>
                            <a class="hits me-3" href="/#hits">Хиты продаж</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="bx-content col-xs-12 py-3">
            <div class="middle_content">
                <div class="faq_info" id="bx_3681803874_171779">
                    <h2 id="171779">Способы доставки</h2>
                    <div class="text">
                        <p style="text-align: center;">
                            <br>
                        </p>
                        <div>
                            <b>Самовывоз&nbsp;</b>–
                            получение товара в пункте самовывоза. Срок резерва - 5 дней поcле смены статуса на
                            «Доступен»
                        </div>
                        <br>
                        <b style="font-family: MuseoSans, Helvetica Neue, Arial, Helvetica, sans-serif;">Стандартная
                            курьерская доставка</b><span
                            style="font-family: MuseoSans, Helvetica Neue , Arial, Helvetica, sans-serif;"> –
                        </span>доставка со склада интернет-магазина, по адресу, указанному при оформлении заказа,
                        курьерами Магазина или партнерских компаний. Доставка осуществляется в удобные для клиента
                        время и день (с учетом рабочего времени отдела доставки), в том числе и в день оформления
                        заказа, при наличии свободных курьеров и товара на складе города, в пределах которого
                        осуществляется доставка. Перевозка между торговыми точками городов носит плановый характер и не
                        оплачивается.<br>
                        <br>
                        <b>Срочная курьерская доставка
                            Яндекс по Алматы и Нур-Султан</b>&nbsp;- доставка по адресу в день оформления заказа в
                        течение 1-2 часов при условии наличия товара в городе отправки, оформления и оплаты банковской
                        картой онлайн до 15:00 и в случае, если не требуется сборка ПК. Ограничение по весу
                        доставляемого заказа - до 10 кг. Доставку осуществляет партнерская компания Яндекс.Такси
                        ежедневно с 11:00 до 19:00.&nbsp;<br>
                        <p>
                        </p>
                        <p>
                        </p>
                        <p align="left">
                            <b>Курьерская доставка в города
                                спутники</b> – доставка со склада интернет-магазина по адресу, указанному при оформлении
                            заказа. Доставка осуществляется в удобные для клиента время и день (ежедневно с 11:00 до
                            18:30) в том числе и в день оформления заказа, при наличии свободных курьеров и товара на
                            складе интернет-магазина.<br>
                        </p>
                        <p align="left">
                            <span style="color: #ee1d24;">
                            </span><b>Курьерская доставка EMS (по Казахстану)</b> - доставка отправлений по указанному в
                            заказе адресу, по принципу «от двери до двери» (Экспресс - от 2 до 5 дней, Стандарт - от 3
                            до 10 дней).&nbsp;<span style="color: #ff0000;">Доступна оплата при получении (наложенный
                                платеж).</span>&nbsp;<br>
                        </p>
                        <p align="left">
                            <b>Доставка через АО
                                «Казпочта»</b> <b> (по Казахстану)&nbsp;</b>– доставка отправлений в почтовое отделение
                            указанного в заказе населенного пункта&nbsp;(от 2 до 10 дней).&nbsp;<span
                                style="color: #ff0000;">Доступна оплата при получении (наложенный платеж).</span>&nbsp;
                        </p>
                        <p align="left">
                            <span style="color: #ee1d24;">
                            </span><b>Курьерская доставка DHL (по Казахстану)</b> – максимально быстрая доставка
                            отправлений по указанному в заказе адресу, по принципу «от двери до двери» по областным
                            центрам&nbsp; (от 2 до 4 дней).&nbsp;
                        </p>
                        <span style="color: #ee1d24;"> </span>
                        <p align="left">
                            <span style="color: #ee1d24;">
                            </span><b>Курьерская доставка EXLINE (по Казахстану) </b>– доставка отправлений по
                            указанному в заказе адресу, по принципу «от двери до двери» (по областным центрам) или в
                            отделение компании (в городах ниже областных центров), Экспресс - от 3 до 6 дней, Стандарт -
                            от 4 до 13 дней.&nbsp;
                        </p>
                        <p align="left">
                            &nbsp;<b>Курьерская доставка
                                CDEK (по Казахстану)</b> - доставка отправлений по указанному в заказе адресу, по
                            принципу «от двери до двери» по областным центрам&nbsp;(от 2 до 5 дней)<br>
                        </p>
                        <p>
                        </p>
                        <span> <i style="font-size: 13px; font-family: Arial, sans-serif;"><span
                                    style="font-size: 11pt;">* стандартный <b>срок резерва</b> неоплаченного товара –
                                    <b>5 дней</b>, оплаченного – 30 дней, более длительные сроки оговариваются
                                    индивидуально;&nbsp;<br>
                                    <span> <i style="font-size: 13px; font-family: Arial, sans-serif;"><span
                                                style="font-size: 11pt;">* если с момента доступности оплаченного заказа
                                                прошло <b>90 календарных дней</b>, заказ отменяется и товар снимается с
                                                резерва; &nbsp;<br>
                                                <span style="font-size: 9px;"><span style="font-size: 13px;"> <i><span
                                                                style="font-size: 11pt;">
                                                                * срок доставки почтовыми службами указан в
                                                            </span></i><b><i><span style="font-size: 11pt;">рабочих
                                                                    днях</span></i></b><i><span
                                                                style="font-size: 11pt;">. <br>
                                                            </span></i></span></span></span><span
                                                style="font-size: 9px;"><span style="font-size: 11px;">* <span
                                                        style="font-size: 11pt;"><i>в случае приобретения<b>
                                                                комплектующих</b> и необходимости их <b>сборки</b>
                                                            требуется предоплата.</i></span><br>
                                                </span></span><br>
                                        </i></span></span></i></span>
                        <!-- <div class="goto_top"><a href="#top">Наверх ↑</a></div> -->

                    </div>

                </div>

                <div class="faq_info" id="bx_3681803874_208316">
                    <h2 id="208316" class="py-4">Условия доставки службами Интернет-магазина</h2>
                    <div class="text">
                        <p align="left">
                            Товар будет доставлен в
                            согласованный с вами день и определенный временной интервал по указанному вами адресу.
                        </p>
                        <p>
                            Товар будет доставлен до
                            указанного вами свободного места в помещении. Заранее освободите проходы на лестничных
                            площадках и в квартире, при необходимости самостоятельно передвиньте мебель.
                        </p>
                        <p>
                            Товар не может быть доставлен
                            до указанного места, если: <br>
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - потребуется перестановка мебели или других предметов;
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - потребуется снятие с петель дверей в помещении; <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - потребуется демонтаж любых частей товара с целью
                            уменьшения его габаритных размеров; <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - расстояние между упаковкой товара и окружающими
                            предметами или частями помещения составляет при перемещении товара менее 15 сантиметров;
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - габариты товара в упаковке превышают размеры
                            лестничных маршей, площадок и входных дверей.
                        </p>
                        <p>
                            Целостность и комплектация
                            товара, а также все сопутствующие документы будут продемонстрированы курьером. Внимательно
                            осмотрите товар, убедитесь в отсутствии видимых механических повреждений, проверьте (если
                            это возможно) соответствие заявленным техническим характеристикам получаемого вами товара,
                            проверьте комплектность, а также наличие и правильность заполнения документов. Факт приема
                            товара по внешнему виду, комплектации и наличию документов подтверждается вашей подписью в
                            Заявке на доставку, и свидетельствует об отсутствии претензий.
                        </p>
                        <p>
                            Товар может быть установлен,
                            настроен до готовности к эксплуатации и подключен к электрической сети, если это не
                            противоречит инструкции по эксплуатации, не требует предварительных пуско-наладочных работ и
                            дополнительного монтажа товара. В противном случае, для установки и ввода товара в
                            эксплуатацию вам необходимо обратиться в авторизованный сервисный центр. Необходимо
                            учитывать, что в холодную погоду из-за разницы температур возможно образование конденсата,
                            поэтому подключение к электрической сети необходимо производить по истечении 2-3 часов с
                            момента занесения товара в теплое помещение.
                        </p>
                        <p>
                            Индивидуальная настройка товара
                            и обучение его использованию курьерами <b>НЕ производится</b>.
                        </p>
                        <p>
                            <!--<img src="/upload/pt.gif" width="13" height="13" border="0"> При оплате за наличный расчет вам будет выдан кассовый чек, гарантийный талон (если он предусмотрен), а если вы являетесь представителем юридического лица, то вместе с заказом вам будет доставлена накладная и счет-фактура. <br> -->
                            <br>
                            Если вы принимаете товар без вскрытия упаковки и проверки комплектности, в заявке на
                            доставку будет сделана отметка «Отказ от демонстрации», где вам необходимо поставить свою
                            подпись. Помните, что все претензии к внешнему виду товара и его комплектации принимаются до
                            момента передачи товара продавцом, в соответствии со ст. 411 ГК РК. Поэтому в случае отказа
                            от демонстрации, претензии указанные выше, после передачи товара, приниматься не будут. <br>
                            <br>
                            <i><b><span style="font-size: 11pt;">* доставка крупной и некоторой мелкой бытовой техники
                                        осуществляется только курьером и только по г.Алматы, г.Нур-Султан и
                                        г.Караганда.</span></b></i><br>
                        </p>
                        <!-- <div class="goto_top"><a href="#top">Наверх ↑</a></div> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="faq_info" id="bx_3681803874_173271">
            <h2 id="173271" class="py-3">Сроки доставки</h2>
            <div class="text">
                Курьерская служба работает в соответствии с режимом работы филиала интернет-магазина в
                конкретном городе. Доставка товара курьерской службой интернет-магазина
                осуществляется&nbsp; в заранее оговоренные с клиентом день и время. При отсутствии Клиента по
                указанному адресу Курьер ожидает не более 30 минут. <br>
                <br>
                Сроки доставки почтовыми службами указываются на сайте в рабочих днях, интернет-магазин не несет
                ответственности за их несоответствие, но оставляет за собой право оказывать поддержку клиенту в
                разрешении конфликтных ситуаций. Отправка посылок по Казахстану сторонними службами
                осуществляется из г. Караганды, г. Алматы и г. Нур-Султан. Поэтому при заказе товара
                находящегося в другом городе, необходимо учитывать временные затраты по доставке в г. Караганда,
                г. Алматы и в г. Нур-Султан. Перевозка товара между городами носит плановый характер и является
                бесплатной, но в некоторых случаях требует&nbsp;предварительной оплаты заказа.<br>
                <br>
                <!-- <div class="goto_top"><a href="#top">Наверх ↑</a></div> -->

            </div>

        </div>

        <div class="faq_info" id="bx_3681803874_55569">
            <h2 id="55569" class="py-3">Отказ от заказа</h2>
            <div class="text">
                Вы можете отказаться от заказа в любой момент до передачи его в службу доставки.&nbsp;В случае
                отказа от заказа находящегося в статусе "На доставке" вам необходимо оплатить стоимость доставки
                (на основании ч.3 ст.450 ГК РК, п.5 ст.25 Закона РК «О регулировании торговой деятельности»).
                При бесплатной доставке, стоимость рассчитывается по&nbsp;действующим&nbsp;тарифам. <br>
                <!-- <div class="goto_top"><a href="#top">Наверх ↑</a></div> -->

            </div>

        </div>

        <div class="faq_info" id="bx_3681803874_99115">
            <h2 id="99115" class="py-3">Куда доставляем заказанные товары</h2>
            <div class="text">
                Мы доставим товар в любой город Казахстана: Абай, Актас, Актау, <b>Актобе</b>, <b>Алматы</b>,
                Аркалык, <b>Нур-Султан (Астана)</b>, Атбасар, Атырау, Байконур, Байсерке, Балхаш, Боровое,
                Ерейментау, Жайрем, Жанаозен, <b>Жезказган</b>, Житикара, Иссык, Капчагай, <b>Караганда</b>,
                Каскелен, Кентау, Кокшетау, Кульсары, Курчатов, <b>Костанай</b>, Кызылорда, Лисаковск,
                <b>Павлодар</b>, Петропавловск, Риддер, <b>Рудный</b>, Сарань, Сатпаев, Сортировка, Семей,
                Степногорск, Талдыкорган, Тараз, <b>Темиртау</b>, Тенгиз, Топар, Уральск, Усть-Каменогорск,
                Уштобе, Хромтау, Шахан, Шахтинск, Шымкент, Щучинск, Экибастуз, а также города и поселки районных
                центров.
                <!-- <div class="goto_top"><a href="#top">Наверх ↑</a></div> -->

            </div>
        </div>
    </div>
</div>

<div class="py-5"></div>
{% endblock %}