{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Интернет-магазин Бытовой техники</title>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'scripts/scale.js' %}"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
    <!-- Navigation-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container px-4 px-lg-5 my-1">
                <a class="navbar-brand" href="http://127.0.0.1:8000/">Магазин Бытовой тенхики</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex ms-5 w-75">
                        <input class="form-control me-1" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                    <form class="d-flex w-25 ms-5" style="margin-left: px;">
                        <button class="btn btn-outline-success">
                            <a class="qwe" href="cart/">
                                <i class="bi-cart-fill me-1"></i>
                                Корзина
                                <span class="badge bg-success text-white ms-1 rounded-pill">0</span>
                            </a>
                        </button>

                    </form>
                    <form class="d-flex w-50">
                        <ul class="h-25 mt-2">
                            <li class="ms-5 w-100">
                                {% if user.is_authenticated %}
                                <span class="me-3">{{ user.username }}</span>
                                <a href="{% url 'account_logout' %}"
                                    style="color: #198754; font-weight: 700; text-transform: uppercase;">
                                    Выход
                                </a>
                                {% else %}
                                <a href="{% url 'account_login' %}"
                                    style="color: #198754; font-weight: 700; text-transform: uppercase;">
                                    Вход</a>
                            </li>
                            <li>
                                <a href="{% url 'account_signup' %}"
                                    style="color: #198754; font-weight: 700; text-transform: uppercase;">
                                    Регистрация</a>
                                {% endif %}
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            </div>
            </div>
            </form>
            </div>
            </div>
        </nav>
    </header>

    <section class="py-1">
        <div class="container px-4 px-lg-5 my-5">
            <ul class="list-menu me-auto mb-2 mb-lg-0 ms-lg-4">
                <li>
                    <a href="#">
                        <button class="category-btn btn btn-outline-success dropdown-toggle">
                            Все категории
                        </button>
                    </a>
                </li>
                <li>
                    <a class="delivery" href="#"> Доставка </a>
                </li>
                <li>
                    <a class="payment" href="">Оплата</a>
                </li>
                <li>
                    <a class="graph-work" href="#">График работы</a>
                </li>
                <li>
                    <a class="hits" href="#">Хиты продаж</a>
                </li>
            </ul>
            <div class="drop-menu-vertical ">
                <div class="btn-group-vertical">
                    <div class="btn-group dropend">
                        <button type="button" class="btn-kitchen btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Товары для кухни
                        </button>
                        <ul class="dropdown-kitchen dropdown-menu">
                            <li><a class="dropdown-item" href="#">Холодильники</a></li>
                            <li><a class="dropdown-item" href="#">Микроволновки</a></li>
                            <li><a class="dropdown-item" href="#">Плиты</a></li>
                            <li><a class="dropdown-item" href="#">Чайники</a></li>
                            <li><a class="dropdown-item" href="#">Кофеварки</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn-kitchen btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Посуда
                        </button>
                        <ul class="dropdown-dishes dropdown-menu">
                            <li><a class="dropdown-item" href="#">Сквороды</a></li>
                            <li><a class="dropdown-item" href="#">Кастрюли</a></li>
                            <li><a class="dropdown-item" href="#">Кухонные принадлежности</a></li>
                            <li><a class="dropdown-item" href="#">Посуда для сервировки</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn-kitchen btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Техника для дома
                        </button>
                        <ul class="dropdown-forhome dropdown-menu">
                            <li><a class="dropdown-item" href="#">Пылесос</a></li>
                            <li><a class="dropdown-item" href="#">Стиральные машины</a></li>
                            <li><a class="dropdown-item" href="#">Утюги</a></li>
                            <li><a class="dropdown-item" href="#">Телефоны</a></li>
                            <li><a class="dropdown-item" href="#">Водонагреватели</a></li>
                            <li><a class="dropdown-item" href="#">Уход за одеждой</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn-kitchen btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Красота и здоровье
                        </button>
                        <ul class="dropdown-health dropdown-menu">
                            <li><a class="dropdown-item" href="#">Весы</a></li>
                            <li><a class="dropdown-item" href="#">Электробритвы</a></li>
                            <li><a class="dropdown-item" href="#">Фены</a></li>
                            <li><a class="dropdown-item" href="#">Уход за полостью рта</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn-kitchen btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Инструменты
                        </button>
                        <ul class="dropdown-instruments dropdown-menu">
                            <li><a class="dropdown-item" href="#">Дрели</a></li>
                            <li><a class="dropdown-item" href="#">Перфораторы</a></li>
                            <li><a class="dropdown-item" href="#">Шлифовальные машины</a></li>
                            <li><a class="dropdown-item" href="#">Электролобзики, пилы</a></li>
                            <li><a class="dropdown-item" href="#">Инструменты</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn-kitchen btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Прочее
                        </button>
                        <ul class="dropdown-another dropdown-menu">
                            <li><a class="dropdown-item" href="#">Лампы</a></li>
                            <li><a class="dropdown-item" href="#">Фонари</a></li>
                            <li><a class="dropdown-item" href="#">Батарейки, зарядные устройства</a></li>
                            <li><a class="dropdown-item" href="#">Чистящие средства</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div id="carousel carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-1 carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/slide1.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/slide2.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/slide3.png' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row">

                {% for product in products %}
                <div class="col-lg-3">
                    <div class="product-item">
                        {{ product.name }}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <footer class="py-3 bg-white">
        <div class="container">
            <p class="telephone m-2 text-center text-dark">Горячая линия:
                <br>
                +7 (708) 164-76-80
            </p>
        </div>
    </footer>

</body>

</html>