{% extends "account/base.html" %}
{% load static %}


{% block content%}
<div class="container py-2">
    <div class="container px-4 px-lg-5 my-5 ms-5">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                    style="font-weight: 600;" aria-expanded="false">
                    Все категории
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item mt-2" href="{% url 'for-kitchen' %}">Товары для кухни</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'dishes' %}">Посуда</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'tec-for-home' %}">Техника для дома</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'health-and-beauty' %}">Красота и здоровье</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'instruments' %}">Инструменты</a></li>
                    <li><a class="dropdown-item mt-2" href="{% url 'other' %}">Прочее</a></li>
                </ul>
            </div>
            <div class="container-fluid">

                <div class="collapse navbar-collapse ms-4" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="delivery me-3" href="{% url 'delivery' %}"> Доставка </a>
                        <a class="payment me-3" href="{% url 'payment' %}">Оплата</a>
                        <a class="graph-work me-3" href="{% url 'graph-work' %}">График работы</a>
                        <a class="hits me-3" href="/#hits">Хиты продаж</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <h2 class="w-auto">Оплата</h2>
        <div class="w-auto mt-2">
            <p class="fs-5">В данном интернет-магазине можно легко и быстро совершать оплату.</p>
            <hr style="color: green; width: 900px;">
        </div>
        <div>
            <i class="bi bi-wallet2"></i>
            <b> Наличный расчет. Оплата производится только в тенге. В подтверждение оплаты мы выдаем фискальный или
                контрольный чек. </b>
            <br>
            <br>
            <i class="bi bi-credit-card"></i>
            <b> Оплата платежной картой при получении.
                Оплата платежной картой курьеру интернет-магазина при доставке производится посредством мобильного
                банковского терминала или в кассе магазина при самовывозе. В подтверждении оплаты мы выдаем фискальный
                или
                контрольный чек. </b>
            <br>
            <br>
            <i class="bi bi-credit-card-2-front"></i>
            <b> Оплата платежной картой.
            При проведении оплаты платёжными картами используется система CloudPayments. Для оплаты требуется ввести
            данные карты (номер, CVC/СVV код, срок действия) в защищенном виджете платежной системы. Для дополнительной
            безопасности используется технология 3-D Secure. Если Ваш Банк-эмитент поддерживает данную технологию, Вы
            будете перенаправлены на его сервер для прохождения дополнительной идентификации.</b>
        </div>
    </div>
    <div class="py-5"></div>
    <div class="py-1"></div>
    
</div>
{% endblock %}